.Image{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.detail{
    font-size: 25px;
    font-family: sans-serif;
}
.details{
    margin-top: 10px;
    border-style: groove;
}