<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{carDetail.brandName}}</h6>
                        <hr />
                        <p><small class="text-muted">Model:{{carDetail.modelYear}}</small></p>
                        <p><small class="text-muted">Renk:{{carDetail.colorName}}</small></p>
                    </div>
                    <span class="text-muted">₺{{carDetail.dailyPrice}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Gün Sayısı</h6>
                    </div>
                    <span *ngIf="day>0;else invalidday" class="text-muted">{{day}} gün</span>
                    <ng-template #invalidday><span class="text-muted">Geçerli bir gün giriniz</span></ng-template>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Toplam Ücret (TL)</span>
                    <strong *ngIf="day>0;else invalidprice">{{rental.TotalRentPrice}}</strong>
                    <ng-template #invalidprice><strong>Geçerli bir gün giriniz</strong></ng-template>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1" *ngIf="ResultRental.success==false && ResultRental.message==='.'">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">FirstAndLast Name</label>
                        <input [(ngModel)]="rental.FirstAndLastName" type="text" name="first">
                    </div>
                    <form class="list-group-item">
                        <label>Başlangıç tarihi</label><label style="margin-left: 95px;">Bitiş tarihi</label>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-5" role="group" aria-label="First group"><input type="date"
                                    (change)="calculatePrice()" [(ngModel)]="startDate"
                                    [ngModelOptions]="{standalone: true}"></div>
                            <div class="btn-group me-5" role="group" aria-label="First group">
                                <input type="date" (change)="calculatePrice()" [(ngModel)]="endDate"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="IsRentable.success" class="alert alert-success" role="alert">
                    {{IsRentable.message}}
                </div>
                <div *ngIf="!IsRentable.success && IsRentable.message!=='.'" class="alert alert-danger" role="alert">
                    {{IsRentable.message}}
                </div>


                <div *ngIf="IsRentable.success && day>0">
                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked
                                required>
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button (click)="Rent()" class="btn btn-primary btn-lg btn-block" type="submit">Continue to
                        checkout</button>
                </div>
            </form>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="ResultRental.success==true && ResultRental.message!=='.'">
            {{ResultRental.message}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="ResultRental.success==false && ResultRental.message!=='.'">
            {{ResultRental.message}}
        </div>
    </div>
    <div></div>
</div>
