<h3>Kiralama Geçmişi</h3>

<div class="table">
    <table>
        <thead>
            <td>Araba Id</td>
            <td>Müşteri Adı Soyadı</td>
            <td>Kiralama Tarihi</td>
            <td>Teslim Tarihi</td>
            <td>Kiralama Ücreti</td>
        </thead>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.carId}}</td>
            <td>{{rental.firstAndLastName}}</td>
            <td>{{rental.returnDate}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.totalRentPrice}}</td>
        </tr>
    </table>
</div>
