<h3>Kiralama Geçmişi</h3>

<div class="table">
    <table>
        <thead>
            <td>Araba Id</td>
            <td>Müşteri Adı Soyadı</td>
            <td>Kiralama Tarihi</td>
            <td>Teslim Tarihi</td>
            <td>Kiralama Ücreti</td>
        </thead>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.CarId}}</td>
            <td>{{rental.FirstAndLastName}}</td>
            <td>{{rental.ReturnDate}}</td>
            <td>{{rental.RentDate}}</td>
            <td>{{rental.TotalRentPrice}}</td>
        </tr>
    </table>
</div>
