<form class="form-group" [formGroup]="filterForm">
    <div class="row">
        <div class="col-md-3">
            <label for="sel1">Marka Seçiniz:</label>
            <select class="form-control" id="sel1" formControlName="brandIdFil">
                <option [ngValue]=0>Farketmez</option>
                <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="sel1">Renk Seçin:</label>
            <select class="form-control" id="sel2" formControlName="colorIdFil">
                <option [ngValue]=0>Farketmez</option>
                <option *ngFor="let color of colors" [ngValue]="color.id">{{color.name}}</option>
            </select>
        </div>
        <!-- 
            Yakında
            <div class="col-md-2">
            <input type="text" class="form-control" placeholder="min-TL">
            <input type="text" class="form-control" placeholder="max-TL">
        </div> -->
        <div class="col md-3">
            <button class="btn btn-info filterButton" (click)="filter()">Filitrele</button>
        </div>
    </div>
</form>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel" style="    margin-left: 180px;">Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color:black">
                <div class="card-body">
                    <form [formGroup]="carUpdateForm">
                        <label>Id</label>
                        <input class="form-control" formControlName="id" id="id" type="number" placeholder="Id"
                            value="{{updateCarClass.carId}}">
                        <label>Araba</label>
                        <input class="form-control" formControlName="name" id="carName" type="text" placeholder="Ad"
                            value="{{updateCarClass.carName}}">

                        <label>Marka</label>
                        <select class="form-control" formControlName="brandId">
                            <option *ngFor="let brand of brands" selected="updateCarClass.id" [ngValue]="brand.id">
                                {{brand.name}}</option>
                        </select>

                        <label>Renk</label>
                        <select class="form-control" formControlName="colorId">
                            <option *ngFor="let color of colors" selected="updateCarClass.id" [ngValue]="color.id">
                                {{color.name}}</option>
                        </select>

                        <label>Model Yılı</label>
                        <input class="form-control" formControlName="modelYear" id="modelYear" type="number"
                            placeholder="Model Yılı" value="{{updateCarClass.modelYear}}" />


                        <label>Fiyat</label>
                        <input class="form-control" formControlName="dailyPrice" id="dailyPrice" type="number"
                            placeholder="Fiyat" value="{{updateCarClass.dailyPrice}}" />

                        <label>Açıklama</label>
                        <input class="form-control" formControlName="description" id="description" type="text"
                            placeholder="Açıklama" value="{{updateCarClass.description}}" />

                        <button (click)="update()" class="form-control btn btn-success">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="d-flex justify-content-between">
    <h3>Kiralık Arabalar</h3>
    <button class="btn btn-success" routerLink="/car/add">Araba Ekle</button>
</div>

<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden"></span>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Arabaları Filitrele</label>
    <input type="text" class="form-control" [(ngModel)]="filterText" id="carFilterText" placeholder="Tofaş">
</div>

<div class="CarsBox">
    <div *ngFor="let car of cars | carPipe:filterText" class="col-md-12 card CarBox">
        <div class="carBox-header">
            <h3>{{car.brandName}}</h3>
            <div>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateModal"
                    (click)="updateCarClassBtn(car)">Güncelle</button>
                <button routerLink="/cars/detail/{{car.carId}}" class="btn btn-secondary carButton">Detaylar</button>
                <button class="btn btn-success carButton" routerLink="/payment/{{car.carId}}">Kirala</button>
            </div>
        </div>
        <hr />
        <div class="infos">
            <h6>{{car.carName}}</h6>
            <div class="stripe"></div>
            <h6>Fiyat : {{car.dailyPrice}} TL/gün</h6>
            <div class="stripe"></div>
            <h6>Renk : {{car.colorName}}</h6>
            <div class="stripe"></div>
            <h6>Model : {{car.modelYear}}</h6>
        </div>
        <div class="description">
            <h6>Açıklama : {{car.description}}</h6>
        </div>
    </div>
</div>