<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label for="sel1">Marka Seçiniz:</label>
            <select class="form-control" id="sel1">
                <option>Fark Etmez</option>
                <option *ngFor="let brand of brands">{{brand.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="sel1">Renk Seçin:</label>
            <select class="form-control" id="sel1">
                <option>Fark Etmez</option>
                <option *ngFor="let color of colors">{{color.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="min-TL">
            <input type="text" class="form-control" placeholder="max-TL">
        </div>
        <div class="col md-3">
            <button class="btn btn-info filterButton">Filitrele</button>
        </div>
    </div>
</div>

<div *ngIf="carUpdateScreenBool" class="carUpdateBox card">
    <div class="carUpdateBox-header">
       <h6 (click)="closeUpdate()" class="closeUpdateButton">X</h6>
    </div>
    <form [formGroup]="carUpdateForm" class="form-group col-md-8 updateForm">
        <label>Id</label>
        <input class="form-control" formControlName="id" id="id" type="number" placeholder="Id" value="{{updateCarClass.carId}}">
        <label>Araba Adı</label>
        <input class="form-control" formControlName="name" id="carName" type="text" placeholder="Ad" value="{{updateCarClass.carName}}">
    
        <label>Marka Id</label>
        <input class="form-control" formControlName="brandId" id="brandId" type="number" placeholder="Marka" value="{{updateCarClass.brandId}}" />
    
        <label>Model Yılı</label>
        <input class="form-control" formControlName="modelYear" id="modelYear" type="number" placeholder="Model Yılı" value="{{updateCarClass.modelYear}}" />

        <label>Renk Id</label>
        <input class="form-control" formControlName="colorId" id="colorId" type="number" placeholder="Renk Id" value="{{updateCarClass.colorId}}" />
    
        <label>Fiyat</label>
        <input class="form-control" formControlName="dailyPrice" id="dailyPrice" type="number" placeholder="Fiyat" value="{{updateCarClass.dailyPrice}}" />
    
        <label>Açıklama</label>
        <input class="form-control" formControlName="description" id="description" type="text" placeholder="Açıklama" value="{{updateCarClass.description}}" />
    
        <button (click)="update()" class="form-control btn btn-success">Kaydet</button>
    </form>
</div>



<h3>Kiralık Arabalar</h3>

<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden"></span>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Arabaları Filitrele</label>
    <input type="text" class="form-control" [(ngModel)]="filterText" id="carFilterText" placeholder="Tofaş">
</div>

<div class="CarsBox">
    <div *ngFor="let car of cars | carPipe:filterText" class="col-md-12 card CarBox">
        <div class="carBox-header">
            <h3>{{car.brandName}}</h3>
            <div>
                <button (click)="openUpdateScreen(car)" class="btn btn-secondary">Güncelle</button>
                <button routerLink="/cars/detail/{{car.carId}}" class="btn btn-secondary carButton">Detaylar</button>
                <button class="btn btn-success carButton" routerLink="/payment/{{car.carId}}">Kirala</button>
            </div>
        </div>
        <hr />
        <div class="infos">
            <h6>{{car.carName}}</h6>
            <div class="stripe"></div>
            <h6>Fiyat : {{car.dailyPrice}} TL/gün</h6>
            <div class="stripe"></div>
            <h6>Renk : {{car.colorName}}</h6>
            <div class="stripe"></div>
            <h6>Model : {{car.modelYear}}</h6>
        </div>
        <div class="description">
            <h6>Açıklama : {{car.description}}</h6>
        </div>
    </div>
</div>